
body{

}

.button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
}

.btn{
  padding: 5px 60px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid blueviolet;
  border-radius: 10px;
  cursor: pointer;
  background-color: cadetblue;

  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn::before{
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(75deg,rgb(222, 8, 44), rgb(118, 13, 209) );
  
  transform: translatey(-100%);
  transition: 3s all ease-in;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}


.btn:hover::before{
  transform: translatey(0%);

}

.btn:hover{
  color: white;
  /* background-color: darkorange; */
  border-color: purple;
}